.hidden, .screen-reader-text
  position: absolute
  left: -999em

.container
  margin-right: auto
  margin-left: auto
  padding-right: $padding
  padding-left: $padding

  @include media($screen-sm-min)
    max-width: $screen-sm-min

  @include media($screen-md-min)
    max-width: $screen-md-min

  @include media($screen-lg-min)
    max-width: $screen-lg-min

.no-list
  margin: 0
  padding: 0
  list-style: none

.btn
  display: inline-block
  border: em-calc(1) solid $color-3
  color: $color-3
  padding: $padding $padding * 1.5
  text-decoration: none
  text-transform: uppercase
  font-size: em-calc(12)
  letter-spacing: em-calc(1)
  border-radius: 2px

  &:focus,
  &:hover
    background-color: $color-3
    color: $color-2

.navigation
  border-top: em-calc(1) solid rgba($color-1, 0.0625)
  padding-top: $padding * 2
  margin-top: $padding / 1.5

  @include media($screen-sm-min)
    margin-top: 0
    padding-top: $padding * 3
